footer {
	padding: 30px 0;
	background: #333;
	text-align: center;
}

.footer-copyright {
	margin: 15px 0 0 0;
	font-size: 18px;
    line-height: 32px;
    color: #fff;
}

.footer-copyright a {
	color: #fff;
	border-bottom: 1px dashed #eee;
}
.footer-copyright a:hover { 
	border: 0; 
}
